# Does the Tourism Preferences Changes after COVID19?

## CASA0013: Foundations of Spatial Data Science

### Student Ids: ucfnjji, ucfnlun, ucfnpar, ucfnrli.

## Green Space Data

In [3]:
# Import visualisation modules
import matplotlib as mpl 
%matplotlib inline 
import matplotlib.pyplot as plt 

#Import modules
import osmnx as ox
import pandas as pd
import geopandas as gpd
import numpy as np
import os

import warnings 
warnings.simplefilter(action='ignore')
ox.__version__

'1.2.2'

In [4]:
# Set up query
q1 = {
    "tourism":"camp_site",
    'leisure':'common',
    'leisure':'dog_park',
    'natural':'scrub',
    'natural':'fell',
    'landuse':'forest',
    'leisure':'garden',
    'landuse':'greenfield',
    'leisure':'golf_course',
    'landuse':'grass',
    'natural':'grassland',
    'natural':'heath',
    'landuse':'meadow',
    'natural':'moor',
    'leisure':'nature_reserve',
    'landuse':'orchard',
    'leisure':'park',
    'leisure':'pitch',
    'landuse':'recreation_ground',
    'landuse':'village_green',
    'landuse':'vineyard',
    'natural':'wood'
    }

greenspace = ox.geometries.geometries_from_place(
            'Greater London, UK',
            tags = q1,
            which_result=1)

greenspace.head(5)

                                          geometry created_by barrier bicycle  \
element_type osmid
node         20851184    POINT (-0.33622 51.40443)        NaN     NaN     NaN
             92273182    POINT (-0.40698 51.48916)       JOSM     NaN     NaN
             895874399   POINT (-0.23028 51.55593)        NaN     NaN     NaN
             920063079   POINT (-0.06894 51.56576)        NaN     NaN     NaN
             1296074660  POINT (-0.17313 51.41807)        NaN     NaN     NaN

                        foot source leisure                    name  \
element_type osmid
node         20851184    NaN    NaN   pitch  The Royal Tennis Court
             92273182    NaN    NaN     NaN                     NaN
             895874399   NaN    NaN   pitch      Kilburn Cosmos RFC
             920063079   NaN    NaN   pitch                     NaN
             1296074660  NaN    NaN   pitch                     NaN

                             name:ru         sport  ... oneway construction  \
element_type osmid                                  ...
node         20851184    Реал-теннис   real_tennis  ...    NaN          NaN
             92273182            NaN           NaN  ...    NaN          NaN
             895874399           NaN         rugby  ...    NaN          NaN
             920063079           NaN           NaN  ...    NaN          NaN
             1296074660          NaN  table_tennis  ...    NaN          NaN

                        proposed religion danger genus:en informal ways type  \
element_type osmid
node         20851184        NaN      NaN    NaN      NaN      NaN  NaN  NaN
             92273182        NaN      NaN    NaN      NaN      NaN  NaN  NaN
             895874399       NaN      NaN    NaN      NaN      NaN  NaN  NaN
             920063079       NaN      NaN    NaN      NaN      NaN  NaN  NaN
             1296074660      NaN      NaN    NaN      NaN      NaN  NaN  NaN

                        network
element_type osmid
node         20851184       NaN
             92273182       NaN
             895874399      NaN
             920063079      NaN
             1296074660     NaN

[5 rows x 278 columns]

In [5]:
greenspace.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
MultiIndex: 15452 entries, ('node', 20851184) to ('relation', 15268904)
Columns: 278 entries, geometry to network
dtypes: geometry(1), object(277)
memory usage: 33.4+ MB

In [6]:
path = os.path.join('data')

if not os.path.exists(path):
    print(f"Creating {path} under {os.getcwd()}")
    os.makedirs(path)
    
greenspace.to_csv(os.path.join(path,'greenspace.csv'), index=False)

## Tourism Attraction Data

In [7]:
# Set up query
q2 = {'tourism':'attraction'}

# Run query
# Jin: I change ox.pois.pois_from_place to ox.geometries.geometries_from_place, for the adjustment of osmnx version change.
# details: https://stackoverflow.com/questions/71559143/what-happened-to-the-pois-module-in-osmnx-and-what-to-use-now
tourism_attraction = ox.geometries.geometries_from_place(
            'Greater London, UK',
            tags = q2,
            which_result=1)

tourism_attraction.head(5)

                        historic                      name     tourism  \
element_type osmid
node         25524252   building           Blewcoat School  attraction
             26559743        NaN                       NaN  attraction
             252602371       NaN  London Bridge Experience  attraction
             269236138       NaN      Little Holland House  attraction
             293221901       NaN    Hall Place and Gardens  attraction

                        wikidata                        wikipedia  \
element_type osmid
node         25524252   Q4926413               en:Blewcoat School
             26559743        NaN                              NaN
             252602371  Q7748032  en:The London Bridge Experience
             269236138       NaN                              NaN
             293221901  Q5642615                              NaN

                                         geometry access barrier bicycle  \
element_type osmid
node         25524252   POINT (-0.13606 51.49830)    NaN     NaN     NaN
             26559743   POINT (-0.14525 51.39520)    NaN     NaN     NaN
             252602371  POINT (-0.08826 51.50639)    NaN     NaN     NaN
             269236138  POINT (-0.17065 51.35530)    NaN     NaN     NaN
             293221901   POINT (0.16023 51.44819)    NaN     NaN     NaN

                       place  ... int_name source:description name:ban  \
element_type osmid            ...
node         25524252    NaN  ...      NaN                NaN      NaN
             26559743    NaN  ...      NaN                NaN      NaN
             252602371   NaN  ...      NaN                NaN      NaN
             269236138   NaN  ...      NaN                NaN      NaN
             293221901   NaN  ...      NaN                NaN      NaN

                       name:eo name:hak name:mai name:pms name:tl name:sw  \
element_type osmid
node         25524252      NaN      NaN      NaN      NaN     NaN     NaN
             26559743      NaN      NaN      NaN      NaN     NaN     NaN
             252602371     NaN      NaN      NaN      NaN     NaN     NaN
             269236138     NaN      NaN      NaN      NaN     NaN     NaN
             293221901     NaN      NaN      NaN      NaN     NaN     NaN

                       name:xmf
element_type osmid
node         25524252       NaN
             26559743       NaN
             252602371      NaN
             269236138      NaN
             293221901      NaN

[5 rows x 359 columns]

In [8]:
tourism_attraction.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
MultiIndex: 344 entries, ('node', 25524252) to ('relation', 12942436)
Columns: 359 entries, historic to name:xmf
dtypes: geometry(1), object(358)
memory usage: 976.9+ KB

In [9]:
path = os.path.join('data')

if not os.path.exists(path):
    print(f"Creating {path} under {os.getcwd()}")
    os.makedirs(path)
    
tourism_attraction.to_csv(os.path.join(path,'tourism_attraction.csv'), index=False)

## Airbnb data (Pre-precessing)

My workflow planning of this:

Aim: calculate the availablity for each Airbnb listing in 2019 and 2022.

    Count f or t in field "available" by rows and also group by "listing_id".
    
    Get a field we need finally, which represent the number of days booked/occupied in the period of one year.
    
    Join this field to listing.csv by listing_id.

### read in data

In [10]:
IA_cal_2022 = pd.read_csv('./data/calendar.csv.gz',compression='gzip', low_memory=False)
IA_cal_2022

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,13913,2022-09-11,f,$50.00,$50.00,1.0,29.0
1,106332,2022-09-11,f,$55.00,$55.00,3.0,365.0
2,106332,2022-09-12,f,$55.00,$55.00,3.0,365.0
3,106332,2022-09-13,f,$55.00,$55.00,3.0,365.0
4,106332,2022-09-14,f,$55.00,$55.00,3.0,365.0
...,...,...,...,...,...,...,...
25310907,554172169432589107,2023-09-07,f,$134.00,$134.00,3.0,5.0
25310908,554172169432589107,2023-09-08,f,$134.00,$134.00,3.0,4.0
25310909,554172169432589107,2023-09-09,f,$134.00,$134.00,3.0,3.0
25310910,554172169432589107,2023-09-10,f,$134.00,$134.00,2.0,1125.0
25310911,554172169432589107,2023-09-11,f,$134.00,$134.00,2.0,1125.0

### fixing data type

In [12]:
#check data type, and find the column "available" is object type. so change it to boolean?
IA_cal_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25310912 entries, 0 to 25310911
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.3+ GB

In [13]:
bools = ['available']
IA_cal_2022.sample(5, random_state=43)[bools]

         available
9656045          t
9976390          f
4219951          t
9336946          f
22511373         f

In [14]:
# to map 't' and 'f' to True and False
for b in bools:
    print(f"Converting {b}")
    IA_cal_2022[b] = IA_cal_2022[b].replace({'f':False, 't':True}).astype('bool')

Converting available

In [ ]:
IA_cal_2022.sample(5, random_state=43)[bools]

In [16]:
# check that it has been transformed to boolean value
IA_cal_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25310912 entries, 0 to 25310911
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       bool
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 1.2+ GB

In [23]:
# split a test dataset first, because the original whole table is toooooo large.
# p.s. What is a feather file? Can I transfer csv.gz to feather to make the memory usage smaller?
from sklearn.model_selection import train_test_split 
df = IA_cal_2022.copy()  
df_test = train_test_split(df,test_size = 0.00001,random_state=44)

In [27]:
df_test

[                  listing_id        date  available    price adjusted_price  \
 21360490  626018464134708493  2022-10-31       True  $125.00        $125.00
 2111221              7108631  2023-01-04      False  $140.00        $140.00
 17537166            49777101  2023-06-26      False  $236.00        $236.00
 8645338             22630583  2023-04-13      False   $55.00         $55.00
 14448004            39330005  2022-10-23       True  $190.00        $190.00
 ...                      ...         ...        ...      ...            ...
 12242819            32948088  2023-01-13      False  $105.00        $105.00
 10535483            27753972  2023-06-15       True  $120.00        $120.00
 2253997              7522224  2022-10-02      False   $30.00         $30.00
 13888241            37697462  2023-09-09      False   $39.00         $39.00
 12258723            32986196  2023-06-09      False  $122.00        $122.00

           minimum_nights  maximum_nights
 21360490             2.0           365.0
 2111221              3.0            10.0
 17537166             1.0          1125.0
 8645338              7.0            60.0
 14448004             2.0          1125.0
 ...                  ...             ...
 12242819             2.0          1125.0
 10535483             1.0            60.0
 2253997              1.0          1125.0
 13888241            14.0            99.0
 12258723             2.0          1125.0

 [25310658 rows x 7 columns],
                   listing_id        date  available    price adjusted_price  \
 9455249             24706244  2023-03-22      False   $60.00         $60.00
 20788076  604737644348518800  2023-08-30       True  $200.00        $200.00
 7439505             20383955  2022-10-23      False   $17.00         $17.00
 6425752             18372801  2023-04-01      False   $80.00         $80.00
 24998562  710111139917855319  2023-02-26       True  $430.00        $430.00
 ...                      ...         ...        ...      ...            ...
 24607035  702875805653970998  2022-09-18       True  $150.00        $150.00
 24227592  693466813221718311  2023-01-12       True   $85.00         $81.00
 10014907            26180969  2022-10-26      False   $75.00         $75.00
 905045               3123465  2022-09-25      False   $40.00         $40.00
 2527717              8042265  2023-05-24      False  $230.00        $230.00

           minimum_nights  maximum_nights
 9455249              1.0            14.0
 20788076             3.0            99.0
 7439505              1.0             3.0
 6425752              5.0          1125.0
 24998562             1.0          1125.0
 ...                  ...             ...
 24607035             1.0           365.0
 24227592             1.0           365.0
 10014907             7.0          1125.0
 905045               2.0            30.0
 2527717              5.0          1125.0

 [254 rows x 7 columns]]

In [25]:
print(f"  Testing data size:  {df_test.info()} ")
# it's a list, not a dateframe...

AttributeError: 'list' object has no attribute 'info'

pdf = gdf['Median-2011'].copy() # pdf for Median *P*rice b/c we need *something*   #Jin: predicted dataframe?

# df == *data* frame (a.k.a. predictors or independent variables)
# pr == *predicted* value (a.k.a. dependent variable)
df_train, df_test, pr_train, pr_test = train_test_split(gdf, pdf, test_size=0.2, random_state=44)

In [28]:
df_test.groupby('listing_id')['available'].sum()

AttributeError: 'list' object has no attribute 'groupby'